@keyframes share_hover {
  0%{transform: translate(-50%,-50%) scale(1); border-color: #576aca;}
  50%{transform: translate(-50%,-50%) scale(1.3);}
  100%{transform: translate(-50%,-50%) scale(1.4); border-color: transparent;}
}

aside {
  &.my_windows_share_app {
    display: none;
    z-index: 600;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    overflow-y: scroll;
    &.active {
      display: block;
    }
    .box {
      width: 18.75rem;
      margin: 3rem auto 11.25rem auto;
      border-radius: .25rem;
      overflow: hidden;
      .box_wrap {
        background: url(./../images/my/share_app/bg.jpg) no-repeat;
        background-size: cover;
        .title_wrap {
          text-align: center;
          padding: .9375rem 0 0 0;
          margin: 0 0 .3125rem 0;
          line-height: 1;
          h1 {
            display: inline-block;
            background: url(../images/logo.png) no-repeat;
            background-size: 100%;
            width: 5rem;
            height: 1.5625rem;
          }
        }
  
        .donate_wrap {

          width: 90%;
          background: #dbe3f8;
          margin: 0 auto;
          border-radius: 50px;
          padding: .375rem 3% .4375rem 3%;
          line-height: 1.6875rem;
          overflow: hidden;
          white-space: nowrap;
          div {
            background: url(../images/my/share_app/donates.png) no-repeat;
            background-size: 700%;
            width: 1.5625rem;
            height: 1.6875rem;
            display: inline-block;
            line-height: 1.6875rem;
            vertical-align: middle;
            margin: 0 calc(((18.75rem * 0.84) - 10.9375rem) / 6) 0 0;
          }
          .i1 {
            background-position: 0 0;
          }
          .i2 {
            background-position: -1.5625rem 0;
          }
          .i3 {
            background-position: -3.125rem 0;
          }
          .i4 {
            background-position: -4.6875rem 0;
          }
          .i5 {
            background-position: -6.25rem 0;
          }
          .i6 {
            background-position: -7.8125rem 0;
          }
          .i7 {
            background-position: -9.375rem 0;
          }
        }
        .donate_text_wrap {
          line-height: 1;
          text-align: center;
          padding: .3125rem 0 .3125rem 0;
          p {
            color: #838ba0;
            display: inline-block;
            position: relative;
            font-size: .9375rem;
            &:before {
              content: "";
              position: absolute;
              width: 110%;
              height: 0.09375rem;
              left: calc(100% + .25rem);
              top: 50%;
              background: linear-gradient(
                to right,
                #838ba0 0%,
                #838ba0 50%,
                transparent 100%
              );
              display: inline-block;
              transform: translateY(-50%);
            }
            &:after {
              content: "";
              position: absolute;
              width: 110%;
              height: 0.09375rem;
              right: calc(100% + .25rem);
              top: 50%;
              background: linear-gradient(to right, transparent 0%, #838ba0 100%);
              display: inline-block;
              transform: translateY(-50%);
            }
          }
        }
        .search_wrap {
          background: #fff;
          border: 1px solid #4d515d;
          border-radius: 50px;
          width: 80%;
          margin: 0 auto;
          line-height: 1;
          padding: .3125rem 0 .3125rem 1.375rem;
          line-height: .9375rem;
          .search_icon {
            background: url(../images/my/share_app/share_app_search.png) no-repeat;
            background-size: 100%;
            width: .9375rem;
            height: .9375rem;
            display: inline-block;
            line-height: 1;
            vertical-align: bottom;
            margin: 0 .75rem 0 0;
          }
          p {
            display: inline-block;
            vertical-align: bottom;
            line-height: .9375rem;
          }
        }
        .img_wrap {
          text-align: center;
          margin: .25rem 0 0 0;
          padding: 0 0 .25rem 0;
          .phone_img {
            background: url(../images/my/share_app/phone.png) no-repeat;
            background-size: 100%;
            width: 10rem;
            height: 11.25rem;
            margin: 0 auto;
          }
          .code_img {
            background: url(../images/my/share_app/qrcode.png) no-repeat;
            background-size: 100%;
            width: 6.25rem;
            height: 6.25rem;
            margin: 0 auto;
          }
        }
      }
      .footer_wrap {
        background: #fff;
        text-align: center;
        .footer_pack {
          line-height: 1rem;
          padding: .25rem 0 .25rem 0;
        }
        .check_icon {
          background: url(../images/my/share_app/check.png) no-repeat;
          background-size: 100%;
          width: 1rem;
          height: 1rem;
          display: inline-block;
          vertical-align: bottom;
        }
        p {
          color: #7685d5;
          display: inline-block;
          vertical-align: middle;
          font-size: .75rem;
        }
      }
    }
    .box_footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      .btn_group {
        background: #f7f7f7;

        padding: 1.375rem 0 1.375rem 0;
        .wrap {
          text-align: center;
          margin: 0 0 0 1rem;
          display: inline-block;
          position: relative;
          &:hover,&:active,&.active{
            p{
              font-weight: bold;
            }
            &:before{
              border-radius: 5px;
              border: 1px solid transparent;
              animation: share_hover .3s 1 ease-in-out;
            }
          }
          &:before{
            content: '';
            width: 100%;
            height: 100%;
            background: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
          .c_wrap {
            display: inline-block;
            text-align: center;
            background: #fff;
            border-radius: .25rem;
            padding: .625rem;
            div {
              background: url(../images/my/share_app/f_btns.png) no-repeat;
              background-size: 300%;
              width: 2.1875rem;
              height: 2.1875rem;
              &.c1 {
                background-position: 0 0;
              }
              &.c2 {
                background-position: -2.1875rem 0;
              }
              &.c3 {
                  background-position: -4.375rem 0;
                }
            }
          }
          p {
            line-height: 1;
            font-size: .8125rem;
            color: #838ba0;
            padding: .25rem 0 0 0;
          }
        }
      }
    
          .quite_btn{
              width: 100%;
              background: #fff;
              border: none;
              padding: 0;
              padding: .625rem 0 .625rem 0;
              text-align: center;
              &:hover,&:active,&.active{
                background: #4d515d;
                p{
                  color: #fff;
                }
              }
              p{
                  display: inline-block;
                  line-height: 1;
                  color: #4d515d;
                  font-size: 1.25rem;
              }
          }
   
    }

  }
 
}
