aside.my_windows_set {
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  z-index: 400;
  top: 0;
  display: inline-block;
  position: fixed;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  aside.my_windows_set.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  aside.my_windows_set div.header {
    margin: 0 0 .5rem 0;
    background: #fff;
    text-align: center;
    font-size: 1.125rem;
    padding: 0.625rem 0 0.375rem 0;
    border-bottom-left-radius: 1.25rem 1.25rem;
    border-bottom-right-radius: 1.25rem 1.25rem;
    -webkit-box-shadow: 0 2px 3px 0 #e2e2e2;
    box-shadow: 0 2px 3px 0 #e2e2e2; }
  aside.my_windows_set div.row_btn {
    background: #fff;
    line-height: 3.5rem;
    padding: 0 .75rem 0 .75rem;
    margin: 0 0 0.875rem 0;
    position: relative; }
    aside.my_windows_set div.row_btn:first-child {
      margin: 0.875rem 0 0 0; }
    aside.my_windows_set div.row_btn.line {
      margin: 0 0 1px 0; }
      aside.my_windows_set div.row_btn.line:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 94vw;
        height: 1px;
        background: #e0e3f3; }
    aside.my_windows_set div.row_btn span {
      display: inline-block; }
    aside.my_windows_set div.row_btn div.box {
      display: inline-block;
      float: right; }
      aside.my_windows_set div.row_btn div.box div.check {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        width: 7.3rem;
        background: #737997;
        vertical-align: middle;
        border-radius: 1.25rem;
        padding: 0 2px; }
        aside.my_windows_set div.row_btn div.box div.check span {
          display: inline-block;
          font-size: .75rem;
          border-radius: 1.25rem;
          line-height: calc(2rem - 0.25rem);
          height: calc(2rem - 0.25rem);
          width: 3.5rem;
          text-align: center; }
          aside.my_windows_set div.row_btn div.box div.check span.active {
            background: #fff;
            -webkit-animation: scale_jump2 0.3s 1 cubic-bezier(0, 0.62, 0.27, 0.63);
            animation: scale_jump2 0.3s 1 cubic-bezier(0, 0.62, 0.27, 0.63); }
            aside.my_windows_set div.row_btn div.box div.check span.active p {
              color: #4d515d; }
          aside.my_windows_set div.row_btn div.box div.check span.p_left {
            top: 2px;
            position: relative;
            float: left; }
          aside.my_windows_set div.row_btn div.box div.check span.p_right {
            top: 2px;
            position: relative;
            float: right; }
          aside.my_windows_set div.row_btn div.box div.check span p {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            color: #ced1e0;
            float: none;
            font-size: .75rem; }
    aside.my_windows_set div.row_btn div.box_empty {
      display: inline-block;
      float: right; }
      aside.my_windows_set div.row_btn div.box_empty div.check {
        display: inline-block;
        height: 1.625rem;
        line-height: 1.625rem;
        background: #737997;
        vertical-align: middle;
        border-radius: 1.25rem;
        padding: 0 2px;
        width: 2.8125rem; }
        aside.my_windows_set div.row_btn div.box_empty div.check span.switch {
          position: relative;
          top: 2px;
          width: calc(1.625rem - 0.25rem);
          height: calc(1.625rem - 0.25rem);
          background: #fff;
          border-radius: 1.25rem;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          aside.my_windows_set div.row_btn div.box_empty div.check span.switch.active {
            -webkit-transform: translateX(calc(2.8125rem - 1.625rem));
            -ms-transform: translateX(calc(2.8125rem - 1.625rem));
            transform: translateX(calc(2.8125rem - 1.625rem)); }
    aside.my_windows_set div.row_btn p {
      display: inline-block;
      font-size: 1rem; }
      aside.my_windows_set div.row_btn p.dark_blue.dark_blue {
        color: #4d515d; }
      aside.my_windows_set div.row_btn p:first-child {
        color: #4d515d; }
      aside.my_windows_set div.row_btn p:last-child {
        color: #838ba0;
        line-height: 3.5rem;
        float: right; }
        aside.my_windows_set div.row_btn p:last-child span.arrow {
          display: inline-block;
          width: .75rem;
          height: 1.125rem;
          position: relative;
          background: url(../images/icon/arrow_lg.png) no-repeat;
          background-size: cover;
          background-position: center center;
          margin: 0 0 0 .75rem;
          line-height: 1;
          vertical-align: sub; }
  aside.my_windows_set div.get_out {
    width: 100%;
    text-align: center;
    background: #fff;
    line-height: 3.5rem;
    position: relative;
    color: #4d515d;
    font-size: 1rem; }
    aside.my_windows_set div.get_out:hover, aside.my_windows_set div.get_out:active, aside.my_windows_set div.get_out.active {
      background: #4d515d;
      color: #fff; }
