header {
  ul {
    &.login {
      li {
        &.sign_up_back {
          width: 1.0625rem;
          height: 1.0625rem;
          float: left;
          position: relative;
          background: url(./../images/icon/arrow_w.png) no-repeat;
          background-size: 100%;
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }
}

main {
  &.sign_up {
    .logo_wrap {
      padding: .5rem 0 0 0;
    }
  }
  ul {
    &.sign_up_wrap {
      background: #fff;
      overflow: hidden;
      border-radius: 24px;
      margin: 1.25rem .9375rem 0 .9375rem;
      border: 1px solid #fff;
      position: relative;
      ul {
        &.drow {
          display: none;
          position: absolute;
          top: 5.125rem;
          right: 1rem;
          width: calc(70% - 1.4375rem);
          z-index: 8;
          border: 1px solid #b9bfdc;
          border-top: none;
          border-radius: 4px;
          background: linear-gradient(to bottom, #ebeeff 0%, #fefeff 100%);
          padding: 0 0 0 .75rem;
          &.active {
            display: block;
          }
          li {
            &:hover {
              background: #000;
              color: #fff;
            }
          }
        }
      }
      li {
        overflow: auto;
        position: relative;

        &.title {
          text-align: center;
          background: linear-gradient(to right, #9ba7e3 0%, #485cc4 100%);
          color: #fff;
          padding: .25rem 0 0 0;
          line-height: 2.25rem;
        }
        .wrap {
          padding: .625rem 1rem;
          border-bottom: 1px solid #e0e3f3;
          overflow: auto;
          line-height: 2.1875rem;
          position: relative;
          p {
            display: inline-block;
            color: #4d515d;
            font-size: .9375rem;
          }
          input {
            float: right;
            width: 70%;
            border-radius: 4px;
            border: 1px solid #b9bfdc;
          }
          .box {
            float: right;
            width: 70%;
            line-height: 2.0625rem;
            display: inline-block;
            border-radius: 4px;
            border: 1px solid #b9bfdc;
            padding: 0 0 0 .75rem;
            color: #4d515d;
            position: relative;
            font-size: .9375rem;
            background: linear-gradient(to bottom, #ebeeff 0%, #fefeff 100%);
            &.drow {
              &:before {
                content: "";
                position: absolute;
                right: .75rem;
                top: .9375rem;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: .3125rem .3125rem 0 .3125rem;
                border-color: #4d515d transparent transparent transparent;
              }
            }
          }
        }
        &.btn_wrap {
          overflow: hidden;
          button {
            width: calc(50% - 1px);
            border: none;
            color: #fff;
            line-height: 2.1875rem;
            font-size: .9375rem;
            letter-spacing: .3125rem;
            position: relative;
            &:first-child {
              float: left;
              background: linear-gradient(to right, #b5865e 0%, #e6c1a0 100%);
            }
            &:last-child {
              float: right;
              background: linear-gradient(to right, #9da9e4 0%, #495dc4 100%);
            }
          }
        }
      }
    }
  }
}
aside {
  &.jump_window {
    &.adjust {
      height: 100%;
      .success {
        background: #fff;
        width: 80%;
        margin: 15.1875rem auto 0;
        border: 1px solid #fff;
        border-radius: 12px;
        overflow: hidden;
        .wrap {
          text-align: center;
          padding: 1.875rem 0 1.25rem;
          span {
            display: inline-block;
            background: #4f62c7;
            width: 2.8125rem;
            height: 2.8125rem;
            border-radius: 100%;
            position: relative;
            margin: 0 0 .3125rem;
            &:before {
              content: "";
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              width: 40%;
              height: 60%;
              background: transparent;
              border-right: .3125rem solid #fff;
              border-bottom: .3125rem solid #fff;
            }
          }
          p {
            color: #4d515d;
            font-size: 1.125rem;
          }
        }
        .btn_wrap {
          button {
            width: calc(50% - 1px);
            border: none;
            color: #fff;
            line-height: 2.1875rem;
            font-size: 1.125rem;
            position: relative;
            &:first-child {
              float: left;
              background: linear-gradient(to right, #b5865e 0%, #e6c1a0 100%);
            }
            &:last-child {
              float: right;
              background: linear-gradient(to right, #9da9e4 0%, #495dc4 100%);
            }
          }
        }
      }
    }
  }
}
