nav{
    &.kinds{
        ul{
            &.early.early.early{
                font-family: 'my_font';
                height: 2.5rem;
                line-height: 2.5rem;
                padding: 0 .625rem;
                border-bottom: 1px solid #e0e3f3;
                li{
                    position: relative;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    
                    &.active{
                        color:#4d515d;
                        position: relative;
                        padding: 0 .625rem;
                        &:before{
                            content:'';
                            position: absolute;
                            width: 100%;
                            height: .25rem;
                            background-color: #7c87bc;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}
main{
    &.early_page{
        // margin-top: calc(9rem + .625rem);
        // height: calc(100vh - 9rem - 3.5rem - .625rem);0821
        //all - top - bottom - margin
        //0810
    }
}