
    .sen_icon {
        display: inline-block;
        background: url(../images/market/game_icons.png)
          no-repeat;
        background-size: 800%;
        width: 1.25rem;
        height: 1rem;
        line-height: 1rem;
        position: relative;
        vertical-align: bottom;
        &.sen_icon_game {
            background-position: -3.75em 0;
          &.yet.yet.yet {
            background-position: -5rem 0;
          }
        }
        &.sen_icon_live {
          background-position: -6.25rem 0;
          &.yet.yet.yet {
            background-position: -7.5rem 0;
          }
        }
      }