aside.yet_bill, aside.finish_bill {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  position: fixed;
  display: none;
  top: 0;
}

aside.yet_bill.active, aside.finish_bill.active {
  display: block;
}

aside.yet_bill .windows, aside.finish_bill .windows {
  width: 92%;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  position: relative;
}

aside.yet_bill .windows span.close, aside.finish_bill .windows span.close {
  display: inline-block;
  position: absolute;
  top: -2.375rem;
  right: 0;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  border: 2px solid white;
  cursor: pointer;
  pointer-events: all;
}

aside.yet_bill .windows span.close:hover, aside.yet_bill .windows span.close:active, aside.yet_bill .windows span.close.active, aside.finish_bill .windows span.close:hover, aside.finish_bill .windows span.close:active, aside.finish_bill .windows span.close.active {
  background: #fff;
}

aside.yet_bill .windows span.close:hover:before, aside.yet_bill .windows span.close:hover:after, aside.yet_bill .windows span.close:active:before, aside.yet_bill .windows span.close:active:after, aside.yet_bill .windows span.close.active:before, aside.yet_bill .windows span.close.active:after, aside.finish_bill .windows span.close:hover:before, aside.finish_bill .windows span.close:hover:after, aside.finish_bill .windows span.close:active:before, aside.finish_bill .windows span.close:active:after, aside.finish_bill .windows span.close.active:before, aside.finish_bill .windows span.close.active:after {
  background: gray;
}

aside.yet_bill .windows span.close:before, aside.finish_bill .windows span.close:before {
  content: "";
  width: .9375rem;
  height: .125rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

aside.yet_bill .windows span.close:after, aside.finish_bill .windows span.close:after {
  content: "";
  width: .9375rem;
  height: .125rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}

aside.yet_bill .windows h1, aside.finish_bill .windows h1 {
  text-align: center;
  background: #556de7;
  color: #fff;
  padding: .625rem 0 .625rem 0;
  font-weight: normal;
  border-radius: .75rem .75rem 0 0;
  line-height: 1.25rem;
  font-size: .9375rem;
}

aside.yet_bill .windows h1 span, aside.finish_bill .windows h1 span {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background: #fff;
  color: #556de7;
  line-height: 1.25rem;
  border-radius: 100px;
  margin: 0px -.3125rem 0 .3125rem;
  padding-top: 1px;
}

aside.yet_bill .windows .content, aside.finish_bill .windows .content {
  height: 75vh;
  background: #f7f7f7;
  overflow-y: scroll;
  border-radius: 0 0 .75rem .75rem;
  text-align: center;
  padding: 0 0 100px 0;
  position: relative;
}

aside.yet_bill .windows .content .bill, aside.finish_bill .windows .content .bill {
  width: 88vw;
  margin: 1rem auto 1rem auto;
  border-radius: .5rem;
  overflow: hidden;
  border: 1px solid #9ba1c5;
  text-align: left;
}

aside.yet_bill .windows .content .bill.active .title i, aside.finish_bill .windows .content .bill.active .title i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

aside.yet_bill .windows .content .bill.active .sample, aside.finish_bill .windows .content .bill.active .sample {
  display: none;
}

aside.yet_bill .windows .content .bill.active .detail, aside.finish_bill .windows .content .bill.active .detail {
  display: block;
}

aside.yet_bill .windows .content .bill .title, aside.finish_bill .windows .content .bill .title {
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f2f7), to(#d6d9e6));
  background: linear-gradient(to bottom, #f1f2f7 0%, #d6d9e6 100%);
  color: #4d515d;
  line-height: 2rem;
  padding: 0px .5rem 0 .5rem;
  font-size: .8rem;
  overflow: hidden;
  position: relative;
}

aside.yet_bill .windows .content .bill .title p, aside.yet_bill .windows .content .bill .title .r_wrap, aside.yet_bill .windows .content .bill .title i, aside.finish_bill .windows .content .bill .title p, aside.finish_bill .windows .content .bill .title .r_wrap, aside.finish_bill .windows .content .bill .title i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

aside.yet_bill .windows .content .bill .title p.g_name, aside.finish_bill .windows .content .bill .title p.g_name {
  width: 35%;
  line-height: 1.2rem;
  margin: .25rem 0;
  vertical-align: middle;
}

aside.yet_bill .windows .content .bill .title p.g_name:before, aside.finish_bill .windows .content .bill .title p.g_name:before {
  position: absolute;
  content: '';
  right: -.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background: #b1b4c1;
}

aside.yet_bill .windows .content .bill .title p.g_type, aside.finish_bill .windows .content .bill .title p.g_type {
  margin: 0 0 0 .5rem;
  vertical-align: middle;
}

aside.yet_bill .windows .content .bill .title .r_wrap, aside.finish_bill .windows .content .bill .title .r_wrap {
  position: absolute;
  right: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside.yet_bill .windows .content .bill .title i, aside.finish_bill .windows .content .bill .title i {
  width: .75rem;
  height: .5625rem;
  line-height: .5625rem;
  vertical-align: middle;
  background: url(../images/icon/arrow_d.png) no-repeat;
  background-size: 100%;
  margin: 0 0 0 .375rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

aside.yet_bill .windows .content .bill .sample, aside.finish_bill .windows .content .bill .sample {
  display: block;
  line-height: 2rem;
  padding: 0px .5rem 0 .5rem;
  overflow: hidden;
  font-size: .8rem;
  background: #fff;
}

aside.yet_bill .windows .content .bill .sample p, aside.yet_bill .windows .content .bill .sample .r_wrap, aside.finish_bill .windows .content .bill .sample p, aside.finish_bill .windows .content .bill .sample .r_wrap {
  display: inline-block;
  position: relative;
}

aside.yet_bill .windows .content .bill .sample p.blue, aside.finish_bill .windows .content .bill .sample p.blue {
  color: #556de7;
  margin: 0 .5rem 0 0;
}

aside.yet_bill .windows .content .bill .sample p.red, aside.finish_bill .windows .content .bill .sample p.red {
  color: #d46571;
}

aside.yet_bill .windows .content .bill .sample p.green, aside.finish_bill .windows .content .bill .sample p.green {
  color: #36a500;
}

aside.yet_bill .windows .content .bill .sample .r_wrap, aside.finish_bill .windows .content .bill .sample .r_wrap {
  float: right;
  color: #4d515d;
}

aside.yet_bill .windows .content .bill .sample .r_wrap p, aside.finish_bill .windows .content .bill .sample .r_wrap p {
  position: relative;
}

aside.yet_bill .windows .content .bill .sample .r_wrap p:first-child, aside.finish_bill .windows .content .bill .sample .r_wrap p:first-child {
  margin: 0 .5625rem 0 0;
}

aside.yet_bill .windows .content .bill .sample .r_wrap p:first-child:before, aside.finish_bill .windows .content .bill .sample .r_wrap p:first-child:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -.3125rem;
  width: 1px;
  height: 70%;
  background: #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail, aside.finish_bill .windows .content .bill .detail {
  display: none;
}

aside.yet_bill .windows .content .bill .detail li, aside.finish_bill .windows .content .bill .detail li {
  border-bottom: 1px solid #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail li p.red.red.red, aside.finish_bill .windows .content .bill .detail li p.red.red.red {
  color: #d46571;
}

aside.yet_bill .windows .content .bill .detail li p.blue.blue.blue, aside.finish_bill .windows .content .bill .detail li p.blue.blue.blue {
  color: #556de7;
}

aside.yet_bill .windows .content .bill .detail li p.green.green.green, aside.finish_bill .windows .content .bill .detail li p.green.green.green {
  color: #36a500;
}

aside.yet_bill .windows .content .bill .detail li:last-child, aside.finish_bill .windows .content .bill .detail li:last-child {
  border: none;
}

aside.yet_bill .windows .content .bill .detail li.box_1_normal, aside.finish_bill .windows .content .bill .detail li.box_1_normal {
  padding: .5rem .5rem .5rem .5rem;
  background: #fff;
  color: #4d515d;
}

aside.yet_bill .windows .content .bill .detail li.box_1_normal p, aside.finish_bill .windows .content .bill .detail li.box_1_normal p {
  line-height: 1.5rem;
  font-size: .8rem;
}

aside.yet_bill .windows .content .bill .detail li.box_1_normal span.red, aside.finish_bill .windows .content .bill .detail li.box_1_normal span.red {
  color: #d46571;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num, aside.finish_bill .windows .content .bill .detail li.box_1_num {
  position: relative;
  background: #fff;
  overflow: hidden;
  color: #4d515d;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num .n1, aside.yet_bill .windows .content .bill .detail li.box_1_num .n2, aside.finish_bill .windows .content .bill .detail li.box_1_num .n1, aside.finish_bill .windows .content .bill .detail li.box_1_num .n2 {
  float: left;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num .n1, aside.finish_bill .windows .content .bill .detail li.box_1_num .n1 {
  width: 10%;
  line-height: 6.5rem;
  text-align: center;
  background: #f7f8fc;
  color: #4d515d;
  border-right: 1px solid #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num .n2, aside.finish_bill .windows .content .bill .detail li.box_1_num .n2 {
  width: 90%;
  padding: .25rem .5rem .25rem .5rem;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num .n2 p, aside.finish_bill .windows .content .bill .detail li.box_1_num .n2 p {
  line-height: 1.5rem;
  font-size: .8rem;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num .n2 span.red, aside.finish_bill .windows .content .bill .detail li.box_1_num .n2 span.red {
  color: #d46571;
}

aside.yet_bill .windows .content .bill .detail li.box_1_num .n2 span.blue, aside.finish_bill .windows .content .bill .detail li.box_1_num .n2 span.blue {
  color: #556de7;
}

aside.yet_bill .windows .content .bill .detail li.box_2_normal, aside.finish_bill .windows .content .bill .detail li.box_2_normal {
  background: #fff;
  overflow: hidden;
}

aside.yet_bill .windows .content .bill .detail li.box_2_normal p, aside.finish_bill .windows .content .bill .detail li.box_2_normal p {
  padding: .375rem 0px .25rem 0;
  line-height: 1.5rem;
  display: inline-block;
  font-size: .8rem;
  text-align: center;
  color: #4d515d;
  float: left;
}

aside.yet_bill .windows .content .bill .detail li.box_2_normal p:nth-child(1), aside.finish_bill .windows .content .bill .detail li.box_2_normal p:nth-child(1) {
  width: 20%;
  background: #f7f8fc;
  border-right: 1px solid #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail li.box_2_normal p:nth-child(2), aside.finish_bill .windows .content .bill .detail li.box_2_normal p:nth-child(2) {
  width: 80%;
  text-align: left;
  padding: .375rem 0px .25rem .5rem;
}

aside.yet_bill .windows .content .bill .detail li.box_4_normal, aside.finish_bill .windows .content .bill .detail li.box_4_normal {
  background: #fff;
  overflow: hidden;
}

aside.yet_bill .windows .content .bill .detail li.box_4_normal p, aside.finish_bill .windows .content .bill .detail li.box_4_normal p {
  padding: .375rem 0px .25rem 0;
  line-height: 1.5rem;
  display: inline-block;
  font-size: .8rem;
  text-align: center;
  color: #4d515d;
  float: left;
}

aside.yet_bill .windows .content .bill .detail li.box_4_normal p:nth-child(1), aside.finish_bill .windows .content .bill .detail li.box_4_normal p:nth-child(1) {
  width: 20%;
  background: #f7f8fc;
  border-right: 1px solid #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail li.box_4_normal p:nth-child(2), aside.finish_bill .windows .content .bill .detail li.box_4_normal p:nth-child(2) {
  width: 30%;
  text-align: left;
  padding: .375rem 0px .25rem .5rem;
}

aside.yet_bill .windows .content .bill .detail li.box_4_normal p:nth-child(3), aside.finish_bill .windows .content .bill .detail li.box_4_normal p:nth-child(3) {
  width: 20%;
  background: #f7f8fc;
  border-right: 1px solid #e0e3f3;
  white-space: nowrap;
}

aside.yet_bill .windows .content .bill .detail li.box_4_normal p:nth-child(4), aside.finish_bill .windows .content .bill .detail li.box_4_normal p:nth-child(4) {
  width: 30%;
  text-align: left;
  padding: .375rem 0px .25rem .5rem;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer, aside.finish_bill .windows .content .bill .detail li.box_4_footer {
  background: #fff;
  overflow: hidden;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p, aside.finish_bill .windows .content .bill .detail li.box_4_footer p {
  padding: .375rem 0px .25rem 0;
  line-height: 1.5rem;
  display: inline-block;
  font-size: .8rem;
  text-align: center;
  color: #4d515d;
  float: left;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p:nth-child(1), aside.finish_bill .windows .content .bill .detail li.box_4_footer p:nth-child(1) {
  width: 20%;
  position: relative;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p:nth-child(1):before, aside.finish_bill .windows .content .bill .detail li.box_4_footer p:nth-child(1):before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 80%;
  background: #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p:nth-child(2), aside.finish_bill .windows .content .bill .detail li.box_4_footer p:nth-child(2) {
  width: 30%;
  text-align: left;
  padding: .375rem 0px .25rem .5rem;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p:nth-child(3), aside.finish_bill .windows .content .bill .detail li.box_4_footer p:nth-child(3) {
  width: 20%;
  position: relative;
  white-space: nowrap;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p:nth-child(3):before, aside.finish_bill .windows .content .bill .detail li.box_4_footer p:nth-child(3):before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 80%;
  background: #e0e3f3;
}

aside.yet_bill .windows .content .bill .detail li.box_4_footer p:nth-child(4), aside.finish_bill .windows .content .bill .detail li.box_4_footer p:nth-child(4) {
  width: 30%;
  text-align: left;
  padding: .375rem 0px .25rem .5rem;
}

aside.yet_bill .bill_blue_box_2, aside.finish_bill .bill_blue_box_2 {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background: #556de7;
  width: 100%;
  border-radius: 0 0 .75rem .75rem;
}

aside.yet_bill .bill_blue_box_2 .box, aside.finish_bill .bill_blue_box_2 .box {
  float: left;
  width: 50%;
  color: #fff;
  text-align: center;
  position: relative;
  padding: .5rem 0 .3rem;
}

aside.yet_bill .bill_blue_box_2 .box:first-child:before, aside.finish_bill .bill_blue_box_2 .box:first-child:before {
  content: '';
  position: absolute;
  height: 75%;
  width: 1px;
  background: #fff;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

aside.yet_bill .bill_blue_box_2 .box p, aside.finish_bill .bill_blue_box_2 .box p {
  line-height: 1.3rem;
  font-size: 0.875rem;
}

aside.yet_bill .bill_blue_box_2 .box p:first-child, aside.finish_bill .bill_blue_box_2 .box p:first-child {
  font-size: 1rem;
}

aside.yet_bill .bill_blue_box_2 .box p span, aside.finish_bill .bill_blue_box_2 .box p span {
  font-size: 1.1rem;
}
/*# sourceMappingURL=market_bill.css.map */