aside.my_windows_mb {
  margin: 0;
  width: 100vw;
  height: calc(100vh - 2.5rem - .625rem);
  background: #f7f7f7;
  z-index: 0;
  display: inline-block;
  position: fixed;
}

aside.my_windows_mb div.mb_content {
  background: #fff;
  margin: .5rem auto 0 auto;
  width: 94%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 .3125rem 1px #ececec;
          box-shadow: 0 0 .3125rem 1px #ececec;
}

aside.my_windows_mb div.mb_content div.title {
  width: 100%;
  line-height: 5.75rem;
  padding: 1.125rem 0 .3125rem 1.125rem;
  position: relative;
}

aside.my_windows_mb div.mb_content div.title p {
  line-height: 1;
}

aside.my_windows_mb div.mb_content div.title p.total {
  color: #4d515d;
  font-size: .9375rem;
  margin: 0 0 .75rem 0;
}

aside.my_windows_mb div.mb_content div.title p.num {
  color: #4d515d;
  font-size: 1.125rem;
  font-weight: bold;
}

aside.my_windows_mb div.mb_content div.title p.num span {
  font-size: .75rem;
}

aside.my_windows_mb div.mb_content div.title div.save_money {
  position: absolute;
  right: 1.125rem;
  bottom: .3125rem;
  line-height: 1.75rem;
  display: inline-block;
  width: 4.6875rem;
  height: 1.75rem;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#9aa6e3), to(#495dc5));
  background: linear-gradient(to right, #9aa6e3 0%, #495dc5 100%);
  border-radius: 1.875rem;
  -webkit-box-shadow: 0 0 .25rem 0 #a7a5a5;
          box-shadow: 0 0 .25rem 0 #a7a5a5;
}

aside.my_windows_mb div.mb_content div.title div.save_money p {
  color: #fff;
  font-size: .9375rem;
  vertical-align: middle;
  display: inline-block;
}

aside.my_windows_mb div.mb_content div.btns {
  text-align: center;
  padding: 2.8125rem 2.375rem .9375rem 1.875rem;
}

aside.my_windows_mb div.mb_content div.btns div {
  width: 3.75rem;
  display: inline-block;
  text-align: center;
  line-height: 1;
}

aside.my_windows_mb div.mb_content div.btns div p {
  color: #4d515d;
  font-size: .9375rem;
}

aside.my_windows_mb div.mb_content div.btns div span {
  display: inline-block;
  background: url(../images/my_mb_icons.png) no-repeat;
  background-size: 300%;
  width: 2.375rem;
  height: 2.1875rem;
}

aside.my_windows_mb div.mb_content div.btns div.transfer {
  float: left;
  position: relative;
}

aside.my_windows_mb div.mb_content div.btns div.take_out {
  position: relative;
  margin: 0 -1.875rem 0 -1.875rem;
}

aside.my_windows_mb div.mb_content div.btns div.take_out span.take_out_icon {
  background-position: -2.375rem 0;
}

aside.my_windows_mb div.mb_content div.btns div.card {
  float: right;
  position: relative;
}

aside.my_windows_mb div.mb_content div.btns div.card span.card_icon {
  background-position: -4.75rem 0;
}

aside.my_windows_mb div.mb_content div.footer {
  overflow: auto;
  border-top: 1px solid #e0e3f3;
  padding: .9375rem 2.5rem 1.125rem 1.125rem;
  line-height: .9375rem;
  position: relative;
}

aside.my_windows_mb div.mb_content div.footer p {
  display: inline-block;
  cursor: pointer;
  font-size: .9375rem;
}

aside.my_windows_mb div.mb_content div.footer p.money_detail {
  color: #4d515d;
  float: left;
}

aside.my_windows_mb div.mb_content div.footer p.balance {
  color: #838ba0;
  float: right;
  position: relative;
}

aside.my_windows_mb div.mb_content div.footer p.balance span.cross_icon {
  display: inline-block;
  width: .9375rem;
  height: .9375rem;
  background: url(../images/icon/cross.png) no-repeat;
  background-size: 100%;
  background-position: center center;
  vertical-align: baseline;
  border-radius: 2px;
  position: absolute;
  right: -1.25rem;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside.my_windows_mb div.mb_event {
  margin: 1.125rem auto 0 auto;
  width: 94vw;
}

aside.my_windows_mb div.mb_event div.title {
  line-height: 1.75rem;
  position: relative;
  padding: 0 .9375rem 0 .25rem;
}

aside.my_windows_mb div.mb_event div.title:before {
  content: "";
  width: .25rem;
  height: .9375rem;
  position: absolute;
  border-radius: 8px;
  top: 40%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-color: #b5c1ff;
}

aside.my_windows_mb div.mb_event div.title h1,
aside.my_windows_mb div.mb_event div.title p {
  display: inline-block;
}

aside.my_windows_mb div.mb_event div.title h1 {
  font-weight: bold;
  color: #525661;
  font-size: 1.125rem;
  position: relative;
}

aside.my_windows_mb div.mb_event div.title p {
  font-size: .9375rem;
  color: #7181d4;
  position: relative;
  float: right;
  line-height: 1.75rem;
}

aside.my_windows_mb div.mb_event div.title p:hover, aside.my_windows_mb div.mb_event div.title p:active, aside.my_windows_mb div.mb_event div.title p.active {
  background: #7181d4;
  color: #fff;
  padding-top: .125rem;
}

aside.my_windows_mb div.mb_event div.title p span {
  display: inline-block;
}

aside.my_windows_mb div.mb_event div.title p span.arrow {
  width: .25rem;
  height: .25rem;
  background: url(../images/icon/arrow_lg.png) no-repeat;
  background-size: 100%;
  background-position: center center;
  margin: 0 0 0 .25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside.my_windows_mb div.mb_event div.events {
  line-height: 1;
  padding: 1.125rem .75rem 0 .75rem;
  white-space: nowrap;
  width: 100%;
}

aside.my_windows_mb div.mb_event div.events div {
  display: inline-block;
  text-align: center;
  width: 23.5%;
  margin: 0 2% 0 0;
}

aside.my_windows_mb div.mb_event div.events div:last-child {
  margin: 0;
}

aside.my_windows_mb div.mb_event div.events div span {
  display: inline-block;
  margin: 0 0 .25rem 0;
  background: url(../images/my_mb_evetnts.png) no-repeat;
  background-size: 400%;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 auto;
}

aside.my_windows_mb div.mb_event div.events div p {
  color: #838ba0;
  font-size: .875rem;
}

aside.my_windows_mb div.mb_event div.events div.level_up {
  float: left;
}

aside.my_windows_mb div.mb_event div.events div.level_up span {
  background-position: 0 0;
}

aside.my_windows_mb div.mb_event div.events div.sign_in span {
  background-position: -1.875rem 0;
}

aside.my_windows_mb div.mb_event div.events div.beginner_mission span {
  background-position: -3.75rem 0;
}

aside.my_windows_mb div.mb_event div.events div.gifts {
  margin: 0;
}

aside.my_windows_mb div.mb_event div.events div.gifts span {
  background-position: -5.625rem 0;
}

aside.my_windows_mb div.mb_banner {
  padding: 0 .75rem;
  margin: 2.375rem 0 0 0;
}

aside.my_windows_mb div.mb_banner div.banner {
  background: #ccd5ff;
  height: 4.25rem;
  line-height: 4.25rem;
  border-radius: 40px;
  padding: 0 1.125rem 0 2.125rem;
}

aside.my_windows_mb div.mb_banner div.banner div.text_area {
  display: inline-block;
  vertical-align: middle;
}

aside.my_windows_mb div.mb_banner div.banner div.text_area h1 {
  color: #5566c4;
  font-size: 1.0625rem;
  margin: .25rem 0 0 0;
  letter-spacing: .5px;
  line-height: 1.0625rem;
  margin: 0 0 .75rem;
}

aside.my_windows_mb div.mb_banner div.banner div.text_area p {
  color: #5566c4;
  font-size: .75rem;
  margin: -.25rem 0 0 0;
  line-height: .75rem;
}

aside.my_windows_mb div.mb_banner div.banner div.big_gift {
  width: 6.75rem;
  height: 4.25rem;
  background: url(../images/my_mb/big_gift.png) no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0 0 0 .5rem;
  float: right;
}

aside.my_windows_mb div.mb_record {
  margin: 1.125rem .75rem 0 .75rem;
  width: 94vw;
}

aside.my_windows_mb div.mb_record div.title {
  position: relative;
  padding: 0 .9375rem 0 .5rem;
  line-height: 1.125rem;
}

aside.my_windows_mb div.mb_record div.title:before {
  content: "";
  width: .25rem;
  height: .9375rem;
  position: absolute;
  border-radius: 8px;
  top: 40%;
  left: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-color: #b5c1ff;
}

aside.my_windows_mb div.mb_record div.title h1,
aside.my_windows_mb div.mb_record div.title p {
  display: inline-block;
}

aside.my_windows_mb div.mb_record div.title h1 {
  font-weight: bold;
  color: #525661;
  font-size: 1.125rem;
  position: relative;
}

aside.my_windows_mb div.mb_record div.title p {
  font-size: .9375rem;
  color: #838ba0;
  line-height: 1.125rem;
  position: relative;
  float: right;
}

aside.my_windows_mb div.mb_record div.title p:hover, aside.my_windows_mb div.mb_record div.title p:active, aside.my_windows_mb div.mb_record div.title p.active {
  color: #fff;
  background: #838ba0;
  padding-top: .125rem;
}

aside.my_windows_mb div.mb_record div.title p span {
  display: inline-block;
}

aside.my_windows_mb div.mb_record div.title p span.arrow {
  width: .5rem;
  height: .5rem;
  background: url(../images/icon/arrow_lg.png) no-repeat;
  background-size: 100%;
  background-position: center center;
  margin: 0 0 0 .25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

aside.my_windows_mb div.mb_record div.content {
  text-align: center;
  margin: 1.125rem 0 0 0;
}

aside.my_windows_mb div.mb_record div.content p {
  color: #838ba0;
  font-size: .75rem;
}
/*# sourceMappingURL=my_windows_mb.css.map */